#chapterList
{
    display: flex;
    flex-direction: column;
}

.results
{
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    margin-top: 10px;
}

.results>div
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border: 1px black solid;
}

.results>div>img
{
    height: 10vw;
}

#chapter_select_list
{
    display: flex;
    flex-direction: column;
    max-height: 10vh;
    overflow-x: auto;
}

#reader>img
{
    width: 100vw;
    height: 80vh;
}